/* General */

$light-green: rgb(82, 239, 104);
$dark-green: rgb(69, 190, 65);
$light-brown: rgb(166, 122, 87);
$light-blue: rgb(130, 250, 247);
$black: rgb(50, 51, 63);
html {
  background: url(../img/Background.png) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(#fff, .1);
}

.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: $dark-green;
  opacity: .85;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  a {
    color: $black;
    transition: ease-in-out color .15s;
  }
}

.site-header a:hover {
  color: white;
  text-decoration: none;
}

@media (min-width: 768px) {
  .flex-md-equal>* {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden {
  overflow: hidden;
}

/*
 * Footer
 */

.blog-footer {
  margin-top: 50px;
  padding: 2.5rem 0;
  color: white;
  text-align: center;
  background-color: $dark-green;
  a {
    color: $black;
    &:hover {
      color: $light-brown;
    }
  }
}

.blog-footer p:last-child {
  margin-bottom: 0;
}