/* General */

$light-green: rgb(82, 239, 104);
$dark-green: rgb(69, 190, 65);
$light-brown: rgb(166, 122, 87);
$light-blue: rgb(130, 250, 247);
$black: rgb(50, 51, 63);
@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

html {
  background: url(../img/Background.png) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(#fff, 0.1);
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 960px;
}

/* Header */

.bg-light {
  background-color: $dark-green !important;
  opacity: 0.85;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  font-size: 18px;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: .7rem;
    padding-left: .7rem;
  }
}

.my-header {
  background: url(../img/header.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin-bottom: 0;
  .display-4 {
    font-family: 'Bangers', cursive;
    font-size: 6rem;
  }
  .lead {
    font-size: 2.5rem;
    font-weight: 800;
    padding: 2rem 0;
    font-family: 'Bangers', cursive;
  }
  .btn-lg {
    padding: 1rem 1.5rem;
  }
}

/* Video */

.video {
  margin: 2rem 0;
  max-width: 960px;
  max-height: 600px;
  border: 10px solid white;
  margin-right: auto;
  margin-left: auto;
}

.video-fluid {
  width: 100%;
  height: auto;
}

.play-video {
  margin-top: 6rem;
  margin-bottom: 2rem;
}

/* About */

.grass-mid {
  background: url(../img/GrassMid.png);
  height: 256px;
}

.about {
  background: url(../img/Dirt.png);
  color: #fff;
  text-align: center;
  padding-top: 0;
  padding-bottom: 6rem;
  p {
    font-size: 26px;
  }
  img {
    margin-right: 1rem;
    margin-top: 1rem;
  }
}

/* Gallery */

#gallery {
  padding-top: 6rem;
  padding-bottom: 8rem;
  text-align: center;
  img {
    margin-top: 1rem;
  }
}

/* Contact*/

.my-contact {
  background: url(../img/Dirt.png);
  padding-top: 2rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  h3 {
    font-weight: 700;
  }
}

form {
  margin-top: 2rem;
  .form-group {
    margin-top: .6rem;
    .form-control {
      border-radius: 0;
      border: .2rem solid rgba($black, .7);
      &:focus {
        border-color: rgba($dark-green, .7);
        box-shadow: none;
      }
    }
  }
  .btn-group-lg>.btn,
  .btn-lg {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

/* Footer */

.blog-footer {
  padding: 2.5rem 0;
  color: white;
  text-align: center;
  a {
    color: white;
    &:hover {
      color: $light-brown;
      text-decoration: none;
    }
  }
  p {
    font-weight: 600;
  }
  ul {
    margin-bottom: 0;
  }
}

/* Play */

.play-footer {
  background: url(../img/Dirt.png);
  padding: 1rem 1rem;
  padding-bottom: 6rem;
  a {
    color: white;
    &:hover {
      color: $black;
      text-decoration: none;
    }
  }
}

/* Privacy Policy */

.privacy-jumbotron {
  background-color: white;
  color: black;
  .privacy {
    padding-top: 3rem;
  }
  p {
    font-size: .8rem;
    font-weight: 400;
  }
  .date {
    padding-bottom: 3rem;
    font-size: 1.2rem;
  }
}