/* General */

$light-green: rgb(82, 239, 104);
$dark-green: rgb(69, 190, 65);
$light-brown: rgb(166, 122, 87);
$light-blue: rgb(130, 250, 247);
$black: rgb(50, 51, 63);
html {
  background: url(../img/Background.png) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(#fff, 0.1);
}

.container {
  max-width: 960px;
}

/* Header */

.bg-light {
  background-color: $dark-green !important;
  opacity: 0.85;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: .7rem;
    padding-left: .7rem;
  }
}

.my-header {
  background: url(../img/header.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  margin-bottom: 0;
}

/* Video */

.video {
  margin: 2rem 0;
}

.play-video {
  margin-top: 6rem;
  margin-bottom: 2rem;
}

/* About */

.about {
  background: url(../img/Dirt.png);
  color: #fff;
  text-align: center;
  p {
    font-size: 24px;
  }
}

/* Gallery */

.game-images {
  padding-top: 4rem;
  padding-bottom: 3rem;
  text-align: center;
  img {
    margin-top: 1rem;
  }
}

/* Footer */

.blog-footer {
  margin-top: 50px;
  padding: 2.5rem 0;
  color: white;
  text-align: center;
  background-color: $dark-green;
  a {
    color: $black;
    &:hover {
      color: $light-brown;
    }
  }
}

.blog-footer p:last-child {
  margin-bottom: 0;
}